$def with()
<!DOCTYPE html>
<html>
	<head>
		<title>Linoole SE</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="static/css/css.css">
	</head>
<form action="/s" method="GET" >
<div style="margin: 300px" align="center">
	
	<h1><span class="font-green" style="font-family:courier">Linoole Search Engine</span></h1><br>
	<div>
		<input type="text" style="font-family:courier;width: 400px" placeholder="tell me what you want" value="" name="keyword">
		<br><br>
		<input type="submit" class="button button-blue" 
			style="font-family:courier" value="Search Websites" name="typ"/>&nbsp;&nbsp;
		<input type="submit" class="button button-orange" 
			style="font-family:courier" value="Search Images" name="typ"/>
	</div>
</div>
</form>
</html>
